/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


.btn-search {
    background-color: #666;
    color: #fff;
    border-radius:0;
    border-color:#666;
}

.input-search {
    border-radius:0;
    background-color: #eee;
    box-shadow: none;
    border: none;
    border-right: 1px solid #eee;
}

.input-search:focus {
    box-shadow: none;
}

.green {
    color: green;
}

.yellow {
    color: goldenrod;
}

.red {
    color: red;
}

.alert-danger {
    color: white;
    background-color: red;
}
.alert-success {
    color: white;
    background-color: green;
}
.alert-warning {
    color: white;
    background-color: orange;
}

.delete-button {
    background-color: #e74c3c; /* Red color to indicate delete */
    color: white; /* White text for contrast */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.delete-button:hover {
    background-color: #c0392b; /* Darker red on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.delete-button:active {
    background-color: #a93226; /* Even darker red when active */
    box-shadow: none;
    transform: scale(0.98); /* Slight shrink effect */
}
