{% extends "layout.html" %}

{% block title %}
    <title>History</title>
{% endblock %}

{% block main %}
    <h1>Transactions</h1>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.transacted }}</td>
                    <td>{{ transaction.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/history" method="post">
        <input type="hidden" name="clear" value="all">
        <button type="submit" class="delete-button">CLEAR HISTORY</button>
    </form>
{% endblock %}
